/* Detail Product */
.side_view img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10;
  margin-right: 10;
  margin: 0.5rem;
}
.images-detail {
  object-fit: cover;
  background: whitesmoke;
  height: 100px;
  width: 100px;
  /* margin-right: 10px; */
}

.images-detail:last-child {
  margin-right: 0;
  /* margin-left: 0; */
}

.info-product {
  /* background: red; */
  margin: 10px 20px;
  padding: 20px;
}

.info-product table {
  width: 100%;
  border-collapse: collapse;
}
.info-product th {
  width: 30%;
  margin-right: 10px;
}
.info-product td {
  width: 70%;
}

.foto-product {
  margin: 0 30px;
}
